{% extends 'base.html' %}
{% load staticfiles %}

{% block header_content %}

{% endblock %}
        {% block right_header %}
            <h2>Basics of the Left and Right Brain</h2>
            <h5>Friday, April 10th, 2015 | <a>Sara Chung</a></h5>
        {% endblock %}

        {% block right_content %}
        <div class="container-mid">
            <div class="col-lg-7">
                <p>In general, the left and right hemispheres of our brain process information in different ways. While we have a natural tendency towards one way of thinking, the two sides of our brain work together in our everyday lives. The right brain of the brain focuses on the visual, and processes information in an intuitive and simultaneous way, looking first at the whole picture then the details. The focus of the left brain is verbal, processing information in an analytical and sequential way, looking first at the pieces then putting them together to get the whole.</p>
                <p>Left brain thinking is verbal and analytical. Right brain is non-verbal and intuitive, using pictures rather than words. The best illustration of this is to listen to people give directions. The left brain person will say something like “From here, go west three blocks and turn north on Vine Street. Go three or four miles and then turn east onto Broad Street.” The right brain person will sound something like this: “Turn right (pointing right), by the church over there (pointing again). Then you will pass a McDonalds and a Walmart. At the next light, turn right toward the Esso station.”</p>
                <p>Though right-brain or non-verbal thinking is often regarded as more ‘creative’, there is no right or wrong here; it is merely two different ways of thinking. One is not better than the other, just as being right-handed is not ‘superior’ to being left-handed. What is important is to be aware that there are different ways of thinking, and by knowing what your natural preference is, you can pay attention to your less dominant side to improve the same.</p>
            </div>
            <div class="col-lg-5">
                <img src="static/img/think.jpg" alt="Image" style="max-width:100%;">
            </div>
        </div>
        {% endblock %}