{% extends 'base.html' %}
{% load staticfiles %}

{% block header_content %}

{% endblock %}
        {% block right_header %}
            <h2>Top 3 Picks</h2>
            <h5>Friday, April 10th, 2015 | <a>Sara Chung</a></h5>
        {% endblock %}

        {% block right_content %}
        <div class="container-mid">
            <div class="col-lg-12">
                <p>Every week Breeze releases interesting articles about anything brain and mind related as food for thought. It's a small selection, but we are sure that it can help you to find cool stuff that covers a wide variety of topics. Below are 3 awesome articles that we have found in the past week. Bookmark, read them and get inspired!</p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    1
                    </div>
                </div>
                <div class="col-lg-11">
                    <a href="/"><h2>Basics of the Left and Right Brain</h2></a>
                    <p>The brain balances and assigns control of certain functions to each side to maximize efficiency. Brain asymmetry is essential for proper brain function. It allows the two sides of the brain to become specialized, increasing its processing capacity and avoiding situations of conflict where both sides of the brain try to take charge.</p>
                    <a>Get inspired!</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    2
                    </div>
                </div>
                <div class="col-lg-11">
                    <h2>Why Neanderthals Were Lousy Entrepreneurs</h2>
                    <p>The human brain is a funny thing: frankly, in terms of how it operates it hasn’t changed much since our Cro-Magnon days. We’re social animals designed to live 10,000 years ago in small tribes, totally dependent on the relationships around us. With biological programming that equates social approval with survival, it’s obvious why so many companies fall into collective groupthink, struggling to surface new and innovative ideas. Simply put: no one wants to look stupid. But there are (unexpected) ways to trick your brain into chilling out enough to coax innovative thinking out from the shadows.</p>
                    <a>Get inspired!</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    3
                    </div>
                </div>
                <div class="col-lg-11">
                    <h2>The Neuroscience of Creativity</h2>
                    <p>“There are a group of people who have studied aspects of creativity. And they found that when people do it in a sort of creative way, the ah-ha phenomenon, there is a particular area in the right side of the brain that lights up. And they show this not only with imaging, but also with electrophysiological recording.” - Eric Kandel, Nobel Prize Winner</p>
                    <a>Get inspired!</a>
                </div>
            </div>
        </div>
        {% endblock %}