{% extends 'base.html' %}
{% load staticfiles %}

{% block header_content %}

{% endblock %}
        {% block right_header %}
            <h2>Top 10 List</h2>
            <h5>Thursday, September 18th, 2014 | <a>Jasmine Moir</a></h5>
        {% endblock %}

        {% block right_content %}
        <div class="container-mid">
            <div class="col-lg-10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget magna et ante suscipit lacinia. Aenean porttitor velit id pretium blandit. Aenean ut sodales ante. Ut faucibus ornare venenatis. Duis sit amet arcu eros. Mauris volutpat vestibulum congue. Nam volutpat, urna eu varius dapibus, velit nisl bibendum lorem, sit amet dapibus sem dolor eu felis.
                    Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    1
                    </div>
                </div>
                <div class="col-lg-11">
                    <h2>List Title One</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget magna et ante suscipit lacinia. Aenean porttitor velit id pretium blandit. Aenean ut sodales ante. Ut faucibus ornare venenatis. Duis sit amet arcu eros. Mauris volutpat vestibulum congue. Nam volutpat, urna eu varius dapibus, velit nisl bibendum lorem, sit amet dapibus sem dolor eu felis. Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque.</p>
                    <a>Call to Action</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    2
                    </div>
                </div>
                <div class="col-lg-11">
                    <h2>List Title Two</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget magna et ante suscipit lacinia. Aenean porttitor velit id pretium blandit. Aenean ut sodales ante. Ut faucibus ornare venenatis. Duis sit amet arcu eros. Mauris volutpat vestibulum congue. Nam volutpat, urna eu varius dapibus, velit nisl bibendum lorem, sit amet dapibus sem dolor eu felis. Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque.</p>
                    <a>Call to Action</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <div class="num-circle">
                    3
                    </div>
                </div>
                <div class="col-lg-11">
                    <h2>List Title Three</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget magna et ante suscipit lacinia. Aenean porttitor velit id pretium blandit. Aenean ut sodales ante. Ut faucibus ornare venenatis. Duis sit amet arcu eros. Mauris volutpat vestibulum congue. Nam volutpat, urna eu varius dapibus, velit nisl bibendum lorem, sit amet dapibus sem dolor eu felis. Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque.</p>
                    <a>Call to Action</a>
                </div>
            </div>
        </div>
        {% endblock %}